 * {
     margin: 0;
     padding: 0;
     -webkit-font-smoothing: antialiased;
     -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
     text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    
     
 }
/*********************************
3. Header
*********************************/
.headervideobox{width:95%}
.videobox {
   margin-top: 2px;
    margin-left: -10px;
    height: 622px;
    color:white;
    border-radius: 0.1rem;
     

 }
 .videobox2 {
    
     border-style: solid;
     height: 630px;
     color: white;
     border-radius: 10px;
     -webkit-box-shadow: 10px 10px 37px -15px rgba(0, 0, 0, 0.62);
     -moz-box-shadow: 10px 10px 37px -15px rgba(0, 0, 0, 0.62);
     box-shadow: 10px 10px 37px -15px rgba(0, 0, 0, 0.62);
     margin-right: 7px;
     margin-left: 7px;

 }
.inpstyle{
   border: none;
   border-radius: 0.1cm;
   outline: 0;
   display: inline-block;
   padding: 10px;
   /* color: black; */
    border-color: black;
   text-align: center;
   
   width: 150%;
   transition: 0.3s;
   margin: 10px;
   align-items: left;
}
.newbutton4 {
    border: none;
    border-radius: 0.1cm;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #360f64;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    margin: 10px;
    align-items: left;
}
.newbutton4:hover{
     background-color: purple;
}
.headernewoverlay{
    width: 100%;
   background: rgba(54, 15, 100, 0.9);
    
}
.headervideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
   
    background: rgba(54, 15, 100, 0.9);
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}

.headervideo_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.headervideo.active .header_overlay {
    visibility: visible;
    opacity: 1;
}

.header_content {
    width: 100%;
    height: 128px;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.header.scrolled .header_content {
    height: 90px;
}
.siteuserbox{
    height: inherit;
    position:relative;
    background: blue;

}
.remoteuserbox{
    background: purple;
    position:   absolute;
    bottom:0;
    right:0;
    height:200px;
    width: 200px;
    margin-left: 90%;
    z-index: 100;
}