.buttonlogin{

    background-color: transparent;
    border-color: transparent;
    color:white;
   font-family: 'Poppins',
   sans-serif;
 font-weight: normal;
 font-size: 14px;
}
.buttonlogin:hover{
    border-top: none;
    color:white;
}
.login100-form2{
    width:100%;
    margin-top: 20px;
    height: 220px;
}
.center{
     
       margin-left: 44%;
       font-weight: 600;
       font-size: 20px;
}
.login100-form-btn{
    background-color: #A2256E;
    
}

.login100-form-btn:hover {
    background-color: #360f64;

}