/* Three columns side by side */
.columnxxx {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .columnxxx {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

/* Some left and right padding inside the container */
.containerfd {
  padding: 16px;
  margin-bottom: 10px;
}

/* Clear floats */
.containerfd::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title2 {
  color: black;
}

.h9 {
  color: purple;
  font-size: large;
  font-weight: bold;
}

.buttonx43 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #360f64;
  text-align: center;
  cursor: pointer;
  width: 43%;
  transition: 0.3s;
  margin: 10px;
}

.buttonx43:hover {
  background-color: purple;
}

.card:hover {
  transform: scale(1.01);
}